body{
  background-color: white;
}

@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.wof') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Cafe24Dongdong';
}